.panel
  .panel-container
    // display: flex
    // flex-direction: column
    background: var(--n-bg-color)
    &.isPhone
      left: 0!important;
      right: 0!important;
      top: 5%!important;
      bottom: 0!important;
      width: unset!important;
      height: unset!important;
    .header
      height: 32px
    .content
      // 去掉header,footer
      height calc(100% - 32px - 32px)
      flex 1
    .footer
      position absolute
      left: 0
      right: 0
      bottom: 0
      height: 32px
      // border-top: 1px solid #999