.panel
  .panel-container
    display: flex
    flex-direction: column
    background: var(--n-bg-color)
    &.isPhone
      left: 0!important;
      right: 0!important;
      top: 5%!important;
      bottom: 0!important;
      width: unset!important;
      height: unset!important;
    .header
      height: 32px
    .content
      height 100%
      flex 1