.list
  .header
    position relative
    display: flex
    justify-content: center
    .title
      font-size: 16px
      font-weight: 400
    .setting
      position absolute
      right: 4px
  .list-container
    padding 4px 8px
    .search
      margin 4px 0
    .content
      .item
        margin 4px 0
        max-height: 86px
        background: gray
        border-radius: 12px
        &.hide
          opacity .3
        .top
          display: flex
          justify-content: flex-end
          font-size: 12px
          .option
            margin-right: 8px
