.setting
  .panel
    border 1px solid #999
    .header
      text-align: center
    .setting-container
      box-sizing: border-box
      padding: 4px 8px
      .part
        padding 20px 4px
        border-bottom: 1px solid
        .subject
          font-size 18px
        .detail
          margin 0 20px
          .item
            display flex
            justify-content: space-between
            align-items: center
            line-height: 24px

            input[type="text"]
              width: 180px
              text-align: end

          .extras
            margin-left: 40px
        