
.note
  .note-container
    display: flex
    flex-direction: column
    width: 230px
    height: 360px
    background: pink
    .options 
      text-align: end
      margin-right: 12px
      span
        padding 0 2px